<template>
  <div id="app">
    <top-navbar></top-navbar>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>
<script>
import TopNavbar from "@/components/TopNavbar";

export default {
  components: {
    TopNavbar
  }
}
</script>

<style>

</style>
