<template>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="card-body">
                        <form @submit.prevent="bookstore">
                            <div class="mb-3">
                                <label for="name" class="form-label">Book Name</label>
                                <input type="text" class="form-control" id="name" v-model="form.name" placeholder="Enter your book name">
                            </div>
                            <div class="mb-3">
                                <label for="writer_name" class="form-label">Writer Name</label>
                                <input type="writer_name" class="form-control" id="writer_name" v-model="form.writer_name" placeholder="Enter writer name">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
     import axios from "axios";
     import toastr from 'toastr';

    export default {
        name: "Books",
        data() {
            return {
                form: {
                    name: '',
                    writer_name: ''
                }
            }
        },
        methods: {
             bookstore(){
                axios.post('book_store', this.form).then((res) => {
                    this.form.name = null
                    this.form.writer_name = null
                    toastr.success('data insert successfully!')
                  })


                }
            }
        }

</script>

<style scoped>

</style>