<template>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card mt-5">
        <div class="card-header">
          <h4>Welcome back</h4>
        </div>
        <div class="card-body">
          <form @submit.prevent="submit">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" v-model="form.email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" v-model="form.password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "Login",
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/login'
    }),

    submit() {
      this.login(this.form).then(() => {
        this.$router.replace({
          name: 'Dashboard'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>