<template>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card mt-5">
        <div class="card-header">
          <div class="card-body">
            <form @submit.prevent="userRegistration">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" v-model="form.name" placeholder="Enter your name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" v-model="form.email" placeholder="Enter your password">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" v-model="form.password" placeholder="Enter your password">
              </div>
              <div class="mb-3">
                <label for="user_role" class="form-label">User Role</label>
                <select class="form-control" id="user_role" v-model="form.user_role">
                  <option selected>Select Role</option>
                  <option :value="1">Admin</option>
                  <option :value="2">User</option>
                </select>
                <!--<input type="user_role" class="form-control" id="user_role" v-model="form.user_role" placeholder="Enter your user role">-->
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import toastr from 'toastr'
export default {
  name: "Registration",
  data() {
    return {
      form: {
        name: '',
        email: '',
        user_role: '',
        password: ''
      }
    }
  },

  methods: {
    userRegistration() {
      axios.post('register', this.form).then((res) => {
        console.log(res.data)
        this.form.name = null
        this.form.email = null
        this.form.user_role = null
        this.form.password = null
         toastr.success('data insert successfully!')
      })
    }
  }
}
</script>

<style scoped>

</style>