<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <router-link class="navbar-brand" :to="{name:'Home'}">VueApp</router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" :to="{name:'Home'}">Home</router-link>
          </li>
          <template v-if="authenticated">
            <li class="nav-item">
              <router-link class="nav-link" :to="{name:'Dashboard'}">Dashboard</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{name:'Books'}">Book</router-link>
            </li>
            <li class="nav-item" v-if="user.user_role==1">
              <router-link class="nav-link" :to="{name:'Registration'}">Registration</router-link>
            </li>
            <li class="nav-item">
              <a @click.prevent="logout" class="nav-link" href="#">Logout</a>
            </li>
          </template>
          <template v-else>
            <li class="nav-item">
              <router-link class="nav-link" :to="{name:'Login'}">Login</router-link>
            </li>
          </template>
          <template v-if="authenticated">
            <li class="nav-item">
              <a class="nav-link">User Name : <b>{{ user.name }} </b></a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: "TopNavbar",
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
      userRole: 'auth/userRole',
      authenticated: 'auth/authenticated',
    })
  },
  methods: {
    ...mapActions({
      logOut: 'auth/logout'
    }),

    logout() {
      this.logOut().then(() => {
        this.$router.replace({
          name: 'Home'
        })
      })
    }
  }
}
</script>

<style scoped>

</style>